<% provide(:title, "Contact") %>
<div class="page-content">
    <main class="mdl-layout__content">
        <h1>Micropost Sample App</h1>
        <h2>This is the Contact page for the <b>Micropost Sample App</b></h2>  
    </main>
</div>